@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/JetBrainsMono.ttf') format('truetype');
  }

  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/JetBrainsMono.ttf') format('truetype');
  }
}

.prose code::before {
  content: '';
}

.prose code::after {
  content: '';
}
