@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/JetBrainsMono.ttf') format('truetype');
  }

  /* jost-200 */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/jost-200.woff2') format('woff2');
  }
  /* jost-300 */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/jost-300.woff2') format('woff2');
  }
  /* jost-400 */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-400.woff2') format('woff2');
  }
  /* jost-500 */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/jost-500.woff2') format('woff2');
  }
  /* jost-600 */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/jost-600.woff2') format('woff2');
  }
  /* jost-700 */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/jost-700.woff2') format('woff2');
  }
  /* jost-800 */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/jost-800.woff2') format('woff2');
  }

  .searchbar::placeholder {
    color: #f472b6;
  }
  .searchbar::-ms-input-placeholder {
    color: #f472b6;
  }
}

.prose code::before {
  content: '';
}

.prose code::after {
  content: '';
}
