@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .baby {
    --brand: #db2777;
    --brand-light: #fdf2f8;
    --brand-divide: #fbcfe8;
    --brand-contrast-text: #ffffff;
  }
  .mint {
    --brand: #3cae85;
    --brand-light: #ecfdf5;
    --brand-divide: #a7f3d0;
    --brand-contrast-text: #ffffff;
  }
  .monochrome {
    --brand: #6b7280;
    --brand-light: #ffffff;
    --brand-divide: #9ca3af;
    --brand-contrast-text: #ffffff;
  }
  .cherry {
    --brand: #cb042c;
    --brand-light: #fef2f2;
    --brand-divide: #fecaca;
    --brand-contrast-text: #ffffff;
  }
  .oceanic {
    --brand: #1c9dd1;
    --brand-light: #eff6ff;
    --brand-divide: #bfdbfe;
    --brand-contrast-text: #ffffff;
  }
  .honeypot {
    --brand: #f7b634;
    --brand-light: #fffbeb;
    --brand-divide: #fde68a;
    --brand-contrast-text: #000000;
  }
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/JetBrainsMono.ttf') format('truetype');
  }

  /* jost-200 */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/jost-200.woff2') format('woff2');
  }
  /* jost-300 */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/jost-300.woff2') format('woff2');
  }
  /* jost-400 */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-400.woff2') format('woff2');
  }
  /* jost-500 */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/jost-500.woff2') format('woff2');
  }
  /* jost-600 */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/jost-600.woff2') format('woff2');
  }
  /* jost-700 */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/jost-700.woff2') format('woff2');
  }
  /* jost-800 */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/jost-800.woff2') format('woff2');
  }
}

.dark .searchbar::placeholder {
  color: var(--brand-light);
}
.dark .searchbar::-ms-input-placeholder {
  color: var(--brand-light);
}

.searchbar::placeholder {
  color: var(--brand);
}
.searchbar::-ms-input-placeholder {
  color: var(--brand);
}

.prose code::before {
  content: '';
}

.prose code::after {
  content: '';
}
